version: '3.9'
services:
  linux-api-service-1:
    container_name: linux-api-service-1
    build: .
    #image: "spring-api-service:latest"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    ports:
      - '9080:8080'
    expose:
      - 8080
    networks:
      - linux-app-network
    environment:
      - JAVA_OPTS=-Xmx512m -Xms512m
    deploy:
      resources:
        limits:
          cpus: "2.0"  # Max 2 CPU cores
          memory: "2G"  # Max 2GB RAM
        reservations:
          cpus: "1.0"  # Reserve at least 1 CPU
          memory: "1G"  # Reserve at least 1GB RAM
    volumes:
      - /srv/spring-data:/usr/spring-data
      - /srv/spring-data/logs:/usr/spring-data/logs
  linux-api-service-2:
    container_name: linux-api-service-2
    build: .
    #image: "spring-api-service:latest"
    restart: always
    ports:
      - '9081:8080'
    expose:
      - 8080
    networks:
      - linux-app-network
    volumes:
      - /srv/spring-data:/usr/spring-data
      - /srv/spring-data/logs:/usr/spring-data/logs
    environment:
      - JAVA_OPTS=-Xmx512m -Xms512m
networks:
  linux-app-network:
    driver: bridge
